<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>直卖网</title>
    <div th:replace="common/common :: #commonscript"></div>
    <script>
        $(function () {
            $("#register").click(function (){
                location.href="/register"
            })
        })


    </script>
</head>
<body>
<form action="/login" method="post">
    <table>
        <tr>
            <td>账号</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="text" name="password"></td>
        </tr>
        <tr style="collapse: 2">
            <td></td>
            <td><input type="submit"></td>
        </tr>
    </table>
</form>
<button id="register">前往注册</button>
<div th:text="${msg}"></div>
</body>
</html>