<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<div th:replace="common/common::#commonscript"></div>
<div>
    request域转发来的：
</div>
<div th:text="${user}"></div>


<div>
    <button id="ajaxPost">发送AJAX请求</button>
</div>
<div>
    ajax请求，响应体传送来的String
</div>
<div id="responseString"></div>
</body>
</html>
<script>
    $(function () {
        $("#ajaxPost").click(function () {
            $.ajax({
                url:"/test",
                type:"POST",
                success: function (data) {
                    $("#responseString").html(data)
                }
            })
        })
    })
</script>